<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calculator" class="lesson25.spring.component.impl.CalculatorImpl">
        <!--        <property name="a" value="15"/>-->
        <!--        <property name="b" value="25"/>-->
        <constructor-arg name="a" value="4854"/>
        <constructor-arg name="b" value="25"/>
    </bean>

    <bean id="parametrizedCalculator" class="lesson25.spring.component.impl.ParametrizedCalculatorImpl"/>

    <bean id="personService" class="lesson25.spring.service.impl.PersonServiceImpl">
        <constructor-arg name="personDao" ref="personDao"/>
    </bean>

    <bean id="newPersonService" class="lesson25.spring.service.impl.AnotherPersonServiceImpl"/>

    <bean id="personDao" class="lesson25.spring.dao.impl.PersonDaoImpl"/>

</beans>
